absl-py==1.3.0
# aiohttp==3.8.1
aiosignal==1.2.0
asttokens==2.0.8
async-generator==1.10
async-timeout==4.0.2
atomicwrites==1.2.1
attrs==22.1.0
backcall==0.1.0
beautifulsoup4==4.12.2
bleach==3.0.2
blinker==1.5
brotlipy==0.7.0
bs4==0.0.1
cachetools==5.2.0
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
cloudpickle==2.2.0
cmake==3.26.3
contextlib2==21.6.0
contourpy==1.0.5
cryptography==35.0.0
cycler==0.10.0
dask==0.20.0
decorator==4.3.0
defusedxml==0.5.0
einops==0.6.0
entrypoints==0.2.3
exceptiongroup==1.1.1
executing==1.1.1
fairscale==0.4.12
filelock==3.12.0
fonttools==4.37.4
# frozenlist==1.2.0
fvcore
google-auth==2.13.0
google-auth-oauthlib==0.4.6
graphviz==0.10.1
grpcio==1.50.0
h11==0.14.0
# h5py==3.7.0
idna==3.4
imageio==2.22.1
importlib-metadata==5.0.0
iopath==0.1.10
ipykernel==5.1.0
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.18.1
Jinja2==2.10
jsonschema==2.6.0
jupyter
jupyter-client
jupyter-console
jupyter-core
kaggle==1.5.12
kiwisolver==1.4.4
lit==16.0.3
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mistune==0.8.4
ml-collections==0.1.1
more-itertools==4.3.0
mpmath==1.3.0
multidict==6.0.2
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
notebook==5.7.0
numexpr==2.8.4
numpy==1.23.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
opencv-python==4.6.0.66
outcome==1.2.0
packaging==21.3
pandas==1.5.0
pandocfilters==1.4.2
parso==0.8.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==9.2.0
pluggy==0.8.0
portalocker==2.6.0
prometheus-client==0.4.2
prompt-toolkit==3.0.31
protobuf==3.9.2
psutil==5.9.4
ptyprocess==0.6.0
pure-eval==0.2.2
py==1.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
Pygments==2.13.0
PyJWT==2.6.0
pyOpenSSL==22.0.0
pyparsing==2.3.0
PySocks==1.7.1
pytest==3.9.3
python-dateutil==2.8.2
python-slugify==7.0.0
pytz==2022.4
pyu2f==0.1.5
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==24.0.1
qtconsole==4.4.2
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.19.3
scipy==1.9.2
seaborn==0.12.1
selenium==4.9.0
Send2Trash
simplejson==3.18.0
six==1.16.0
# sklearn==0.0.post1   #scikit-learn
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
stack-data==0.5.1
submitit==1.4.5
sympy==1.12
# tables==3.7.0
tabulate==0.9.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
termcolor==2.1.1
terminado
testpath==0.4.2
text-unidecode==1.3
tifffile==2022.8.12
timm 
torch
torch-tb-profiler==0.4.0
torchaudio
torchinfo
torchvision
tornado
tqdm 
traitlets==5.4.0
trio==0.22.0
trio-websocket==0.10.2
triton
typing_extensions==4.4.0
urllib3==1.26.12
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==2.2.2
wget==3.2
widgetsnbextension==3.4.2
wsproto==1.2.0
xgboost==1.7.5
yacs==0.1.8
# yarl==1.7.2
zipp==3.10.0
